<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.home') }}">Inicio</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.ask') }}">Haz una pregunta :D</a>
            <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
            <a href="{{ url_for('auth.register') }}">Registrarse</a>
        {% endif %}
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
